.banner {
    height: 30vh;
    display: grid;
    justify-content: center;
}
.banner h1 {
    position: relative;
  	right: 50%;
    left: 50%;
  	top: 80%;
  	font-size: 60;
  	min-width: max-content;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	color: #81a1c1;
    text-align: center;
}

.abstract {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    object-fit: contain;
    padding: 20px;
}

img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .banner h1 {
        font-size: 200%;
    }
}