body {
	background-color: #434c5e;
}

.contact {
	display: grid;
	justify-content: center;
	text-align: center;
}

.email {
	position: relative;
  	display: flex;
	flex-flow: column;
  	right: 50%;
  	left: 50%;
  	top: 40vh;
  	font-size: 60;
  	min-width: max-content;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	color: #81a1c1;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
	.email {
		font-size: 200%;
	}
}

