body {
    background-image: url('contact.png');
    background-repeat: repeat-y;
    background-size: cover;   
    color: #8bbfcc;
    text-align: center;                                                              
}

h1 {
    position: fixed;
    top: 40%;
    left: 50%;
    font-size: 200;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.email {
    top: 60%;
    font-size: 70;
}

@media screen  and (max-width: 1000px) {
    h1 {
        font-size: 200;
        line-height: 200px;
    }

    .email {
        font-size: 55;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 100;
        line-height: 200;
    }

    .email {
        font-size: 25;
    }
}