body {
    background-color:  #3b4252 ;
}

div.disabled {
    overflow-x: hidden;
    overflow-y: scroll;
}

.age_tech {
    height: 90vh;
}

.age {
  position: relative;
  display: flex;
  flex-direction: column;
  right: 50;
  left: 50%;
  top: 55%;
  font-size: 60;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color:  #b48ead ;
  text-align: center;
  line-height: 100px;
}

.taught {
  position: relative;
  display: flex;
  right: 50%;
  left: 50%;
  top: 50%;
  font-size: 60;
  min-width: max-content;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.learnt {
    height: 105vh;
    margin-top: 50px;
    background-color: rgb(46, 46, 46);
}

.grid-container {
    display: grid;
    grid-template-columns: 100vh 80vh;
    align-content: left;
    justify-content: center;
}

.time-intro {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 40;
    color: #88c0d0;
    margin-left: 10px;
    text-align: left;
}

.time {
    line-height: 200px;
    font-size: 80;
    text-align: left;
    color: #d08770;
    margin-left: 10px;
}

.image {
    background-image: url('./1618846650590-01~2.jpeg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px;
    height: 100vh;
    position: relative;
    width: 100%;
}

h2 {
    font-size: 40;
    color: #88c0d0;
    line-height: 60px;
    margin-left: 10px;
}

.bulltein-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding-left: 10px;
    color: #d8dee9;
    text-align: left;
    font-size: 30;
}

.work-and-education {
    display: grid;
    height: 80vh;
    grid-template-columns: 90vh 90vh;
}
.exp {
    color: #88c0d0;
    font-size: 40;
    text-align: center;
    padding: 20px;
}
.work {
    color: #88c0d0;
    font-size: 20;
    padding: 20px;
}

.ohno {
    justify-content: center;
    text-align: center;
    font-size: 60;
}

.educated{
    color: #88c0d0;
    font-size: 40;
    text-align: center;
    padding-top: 40px;
}

.schooling {
    color: #88c0d0;
    font-size: 20;
    padding: 20px;
    text-align: center;
}

iframe {
    width: 90vh;
    align-content: right;
}

.school {
    color: #5e81ac;
    font-size: 30;
    padding-top: 20px;
}

.contact {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    padding-top: 50px;
    align-content: center;
    padding-left: 150px;
}

.end {
    height: 50vh;
    align-content: center;
}

.socials {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 50;
    top: 35%;
    left: 50%;
    top: 20%;
    bottom: 80%;
    font-size: 60;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #81a1c1;
    text-align: center;
}

img {
    width: 100px;
    height: auto;
    align-content: center;
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 38;
        top:30%;
        text-align: center;
        padding-left: 10px;
    }
    .age {
        font-size: 34;
        top: 50%;
        padding-left: 10px;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }
    .time-intro {
        font-size: 30px;
    }
    .time {
        font-size: 70px;
        line-height: 100px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .bulltein-container {
        grid-gap-row: 15px;
        grid-column-gap: 1px;
        align-content: center;
        justify-content: center;
    }
    .image {
        background-repeat: no-repeat;
        width: 90%;
        align-self: center;
        padding: 0;
    }

    .work-and-education {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        height: fit-content;
        justify-content: center;
        padding: 0;
        padding-right: 50px;
    }

    h1 {
        padding-right: 10px;

    }

    .schooling {
        font-size: 18;
    }

    iframe {
        display: none;
    }

    .end {
        height: 520px;
    }

    .contact {
        grid-template-columns: auto auto;
        padding-left: 50px;
        padding-top: 100px;
        grid-row-gap: 30px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        text-align: center;
    }

    .name {
        font-size: 38;
        top:30%;
        text-align: center;
        padding-left: 10px;
    }
    .age {
        font-size: 34;
        top: 50%;
        padding-left: 10px;
    }
    .grid-container {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        height: 100vh;
    }
    .time-intro {
        font-size: 30px;
    }
    .time {
        font-size: 50px;
        line-height: 100px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
        text-align: left;
    }
    .bulltein-container {
        grid-gap-row: 15px;
        grid-column-gap: 1px;
        justify-content: center;
    }
    .image {
        background-repeat: no-repeat;
        height: 80vh;
    }
    .learnt {
        height: 150vh;
    }

    .work-and-education {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        height: 80vh;
        padding-left: 16%;
    }
    .work {
        width: 50vh;
    }

    h1 {
        padding-right: 10px;

    }

    .education {
        width: 50vh;
    }

    .schooling {
        font-size: 18;
    }

    iframe {
        width: 50vh;
    }

    .end {
        height: 520px;
    }

    .contact {
        grid-template-columns: auto auto;
        padding-left: 50px;
        padding-top: 100px;
        grid-row-gap: 30px;
    }
}