body {
    background-color: #3b4252;
}

.banner {
    display: grid;
    justify-content: center;
    height: 30vh;
}

.banner h1 {
    position: relative;
  	right: 50%;
    left: 50%;
  	top: 80%;
  	font-size: 60;
  	min-width: max-content;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	color: #81a1c1;
}

.products {
    display: grid;
    grid-template-columns: auto;
    object-fit: cover;
    grid-gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.cars {
    background-color: #2e3440;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.cars h1 {
    text-align: center;
    color: #d8dee9;
    font-size: 50;
    padding-top: 20px;
    padding-bottom: 2px;
}

.cars img {
    width: 100%;
    border-radius: 25px;
    image-rendering: optimizeSpeed;
    margin-top: 20px;
}



@media screen and (max-width: 600px) {
    .banner h1 {
        font-size: 300%;
    }
}