body {
    background-color: #393770;
}

.banner {
    background-color: #393770;
    height: 30vh;
}

.banner h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 50;
    left: 50%;
    top: 40%;
    bottom: 60%;
    font-size: 60;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ff5700;
    text-align: center;
    line-height: 100px;
}

.banner h3 {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 50;
    left: 50%;
    top: 30%;
    bottom: 70%;
    font-size: 35;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #8bbfcc;
    text-align: center;
    line-height: 100px;
}

.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    object-fit: cover;
    grid-gap: 10px;
}

.showcase img {
    width: 100%;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .banner {
        height: 40vh;
    }
    
    .banner h1 {
        font-size: 48;
        top: 10%;
    }

    .banner h3 {
        line-height: 40px;
        font-size: 30;
    }
}

@media screen and (max-width: 1000px) {
    .banner h1 {
        top: 10%;
    }

    .banner h3 {
        line-height: 50px;
    }
}