
body {
  background-image: url("./programming.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.display_text {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.HI {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 73%;
  left: 22%;
  top: 40%;
  bottom: 60%;
  font-size: 60;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.name {
  position: fixed;
  flex-flow: wrap;
  right: 50%;
  left: 50%;
  top: 50%;
  bottom: 50%;
  font-size: 100;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  body {
    background-repeat: repeat-y;
    background-size: cover;
  }

  .HI {
    top: 25%;
    bottom: 75%;
    font-size: 50;
    right: 60%;
    left: 40%;
    min-height: max-content;
  }

  .name {
    top: 40%;
    bottom: 60%;
    font-size: 60;
    min-height: max-content;
  }
}


@media screen and (max-width: 1000px) {
  body {
    background-repeat: repeat-y;
    background-size: cover;
  }

  .HI {

    font-size: 70;
    right: 60%;
    left: 40%;
    min-height: max-content;
  }

  .name {
    top: 50%;
    bottom: 50%;
    font-size:90;
    min-height: max-content;
  }
}
